<h1>
    DAB - Adopt an Animal Course Assignment
</h1>
<h2>Welcome to the course assignment for DAB</h2>
<div>
    <img src="/img/home.png" alt="">
</div>
<form action="/populate" method="post">
    <div>
        <button class="btn-lg btn-info" type="submit">Populate Database</button>
    </div>
</form>