<section class="prompt">
    <h3>Animal Adoption</h3>
    <h1>Sign up</h1>
    <form action="/signup" method="post">
        <section>
            <label for="username">Username</label>
            <input id="username" name="Username" type="text" autocomplete="username" required>
        </section>
        <section>
            <label for="firstname">First Name:</label>
            <input id="firstname" name="Firstname" type="text" autocomplete="firstname" required>
        </section>
        <section>
            <label for="lastname">Last Name:</label>
            <input id="lastname" name="Lastname" type="text" autocomplete="lastname" required>
        </section>
        <section>
            <label for="new-password">Password</label>
            <input id="new-password" name="Password" type="password" autocomplete="new-password" required>
        </section>
        <button type="submit">Sign up</button>
    </form>
    <hr>
    <p class="help">Already have an account? <a href="/login">Sign in</a></p>
</section>
<footer class="info">
    <p>Created by <a href="https://www.noroff.no/en/">Noroff</a></p>
    <p>Part of Back-end Developemnt Program at Noroff</p>
    <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
</footer>