<div class="list-group">
    <div class="row px-3 py-1 w-100 text-center">
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="getAnimalsByName()">Popular Animal Names</button>
        </span>
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="getAdoptionDetails()">All Adoption Details</button>
        </span>
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="getAnimalsByAge()">Animals By Age</button>
        </span>
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="getAnimalsByDateRange()">Animals Born In Date Range</button>
        </span>
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="getAnimalsPerSize()">Number of Animals Per Size</button>
        </span>
        <span class="col py-1 bg-light ">
            <button class="btn-sm btn-warning" onclick="allAnimals()">All Animals</button>
        </span>
    </div>
</div>