<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DAB - Adoption Login</title>
			<%- include('./partials/head.ejs') %>
			<link rel="stylesheet" href="/stylesheets/base.css">
			<link rel="stylesheet" href="/stylesheets/index.css">
			<link rel="stylesheet" href="/stylesheets/login.css">
	</head>

	<body>
		<%- include('./partials/navbar.ejs') %>
			<%- include('./partials/login.ejs') %>
				<%- include('./partials/scripts.ejs') %>

	</body>

</html>